#index {
    text-align: center;
}

#after-redirect, #playing, #to-join, #joined {
    text-align: center;
    display: none;
}

#user-table {
    margin: 1em auto;
}

.submit {
    margin: 1em;
}

#nick-title {
    margin: 0.5em;
}